@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Outfit:wght@100..900&family=REM&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "REM", serif;
}

body{
  /* background: #32309c; */
}

a{
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}


.btn{
  background: #fff;
  color: #212121;
  padding: 14px 25px;
  font-size: 16px;
  cursor: pointer;
  border: 0;
  outline: 0;
  border-radius: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.btn img{
  width: 20px;
  margin-left: 10px;
}

.container{
  padding-left: 5%;
  padding-right: 5%;
}

.btn.dark-btn{
  background-color: #6aa064;
  color: #ffff;

}

/* media query */

@media(max-width: 1200px){
  .container{
    padding-left: 5%;
    padding-right: 5%;
  }
  .btn{
    padding: 14px 22px;
  }
}
  
